<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form method="post">
        <p>
            <label>
                Név:<br>
                <input type="text" name="name">
            </label>
        </p>
        <p>
            <label>
                Típus:<br>
                <input type="text" name="type">
            </label>
        </p>
        <p>
            <label>
                Szín:<br>
                <input type="color" name="color">
            </label>
        </p>
        <p>
            <label>
                Ár:<br>
                <input type="number" name="price">
            </label>
        </p>
        <p>
            <label>
                Akkumulátor állapota:<br>
                <input type="number" name="charge">
            </label>
        </p>
        <p>
            <label>
                Állapot:<br>
                <select name="state">
                    <option value="new">Új</option>
                    <option value="newLike">Új szerű</option>
                    <option value="Scratched">karcos</option>
                </select>
            </label>
        </p>
        <p>
            <input type="submit" value="OK">
        </p>
   </form> 
</body>
</html>